includes:
parameters:
    level: 7
    paths:
      - src
    ignoreErrors:
        - '#is never written, only read\.$#'
        - '#is never read, only written\.$#'
        - '#Zend_Pdf#'
        - '#Call to function property_exists\(\) with SoapFault and ''detail'' will always evaluate to true\.#'
